@font-face{
    font-family: Product Sans;
    src:url(Fonts/Product\ Sans\ Bold.ttf);

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Product Sans;

}

html,
body{
    height:100%;
    width: 100%;
}
body::-webkit-scrollbar{
    display:none;
    overflow-x: hidden;
}

#main{
    width:100%;
    height:100vh;
    background: transparent
}

.nav-conteiner a{
    color: white;
    text-decoration:none;
    font-size:24px;

}

.nav-menu{
    display: flex;
    gap: 50px;
}


.nav-conteiner{
    position:fixed;
    display:flex; 
    align-items:center;
    justify-content:space-between;
    width: 100%;
    height:10vh;
    z-index: 99;

}

.nav-conteiner img{
    width: 25px;
    width: 25px;
    object-fit: cover;

}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(150deg, rgb(210, 145, 33), rgb(244, 7, 7));
}

.hero{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    min-height: 100vh; /* garante que a hero ocupa toda a tela */
    
}

.hero h1{
    position:absolute;  
    font-size: 25vw;
    color:#fff;
    left: 13%;
    
}

#fanta{
    position:absolute;
    left: 40%;
    width: 25%;
    z-index: 2;
}

#laranja-fatiada{
    position:absolute;
    top:10%;
    width: 12%;
    left:38%;
    z-index: 2;
}

#laranja{
    position:absolute;
    width:28%;
    top:10%;
    left:730px;
    z-index:2;
    top:350px;
}

#folha{
    top:10%;
    left:0%;
    width: 18%;
    transform:rotate(170deg);
    position:absolute;

}

#folha2{
    position: absolute;
    top: 63%;
    width: 12%;
    left: 80%;
    transform: rotate(-60deg);

}

#folha3{
    position: absolute;
    width: 20%;
    top: 10%;
    right: 0%;
}


/* EDITANDO A SEGUNDA SESSÃO */
.two{
    display: flex;
    width: 100%;
    height: 100vh;
    background: #4d231c;
}

.left-side, .right-side{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
}

.left-side svg{
   margin-top: 50vh;
   width: 90%;
   transform:rotateX(50deg); 
}

.right-side h2{
    color: #fff;
    font-size: 5vw;
}

.right-side p{
    color:#fff;
    font-size: 1vw;
    width: 80%;
    
}